.container {
  display: grid;
  grid-template-columns: 80px 1fr 1fr 1fr 1fr 80px;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header header header"
    ". content content content content ."
    "footer footer footer footer footer footer";
}

.top-container {
  grid-area: header;
  display: grid;
  grid-template-columns: 80px 1fr 80px;
  grid-template-rows: auto 500px;
}

.header-content {
  grid-column: 2;
  grid-row: 2;
  background: url(Images/food-index.jpeg) no-repeat center center fixed;
  background-size: cover;
  height: 450px;
  width: 100%;
  text-align: center;
}

#pub-title-header {
  display: inline-block;
  z-index: 1;
  font-size: 48px;
  padding: 10px 20px;
  border-radius: 5px;
  color: black;
  margin-top: 300px;
}

#pub-title-nav {
  display: none;
}

.info-container {
  display: block;
  width: 92%;
  margin: 2%;
  padding: 2%;
  text-align: left;
}

.info-container-image {
  float: left;
  width: 450px;
  height: 300px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 6px rgba(0, 0, 0, 0.18);
}

.info-container-header {
  font-size: 36px;
  margin: 20px;
}

.info-container-text {
  font-size: 16px;
  font-weight: 100;
  margin: 20px;
}

.info-container:nth-child(even) .info-container-header,
.info-container:nth-child(even) .info-container-text{
  text-align: right;
}

.info-container:nth-child(even) .info-container-image {
  float: right;
}

@media only screen and (max-width: 1200px) and (min-width: 851px) {
  .info-container-image {
    width: 300px;
    height: 200px;
  }
}

@media only screen and (max-width: 850px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "header header header header"
      "content content content content"
      "footer footer footer footer";
  }

  .top-container {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .header-content {
    grid-column: 1;
    grid-row: 1;
    background: url(Images/food-index.jpeg) no-repeat center center fixed;
    background-size: cover;
    height: 300px;
    width: 100%;
    text-align: center;
  }

  #pub-title-header {
    display: none;
  }

  #pub-title-nav {
    display: block;
  }

  .info-container-image {
    width: 90%;
    margin: 5%;
  }

  .info-container-header, .info-container-text {
    text-align: center;
    display: block;
  }

  .info-container:nth-child(even) .info-container-header,
  .info-container:nth-child(even) .info-container-text{
    text-align: center;
  }
}
