.top-container {
  grid-area: header;
  display: grid;
  grid-template-columns: 80px 1fr 80px;
  grid-template-rows: auto;
  grid-template-areas:
    "nav nav nav";
}

#pub-title-nav {
  display: block;
  position: absolute;
  float: left;
}

.clickable {
  text-decoration: none;
  color: black;
  margin: 2%;
  display: block;
}

.clickable:hover {
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 6px rgba(0, 0, 0, 0.18);
  cursor: pointer;
}

.info-container {
  display: inline-block;
  width: 92%;
  padding: 2%;
  text-align: left;
}

.info-container-image {
  float: left;
  width: 450px;
  height: 300px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 6px rgba(0, 0, 0, 0.18);
}

.info-container-header {
  font-size: 36px;
  margin: 20px;
}

.info-container-text {
  font-size: 16px;
  font-weight: 100;
  margin: 20px;
}

@media only screen and (max-width: 1200px) and (min-width: 851px) {
  .info-container-image {
    width: 300px;
    height: 200px;
  }
}

@media only screen and (max-width: 850px) {
  .info-container-image {
    width: 90%;
    margin: 5%;
  }

  .info-container-header, .info-container-text {
    text-align: center;
    display: block;
  }
}
